header {
	background-color:white;
	height:70px;
	width:100%;
	border-bottom:1px solid #CCCCCC;
	display:flex;
	align-items:center;
}

.logo {
	height:55px;
	width:100%;
	margin-left: 20px;
	background-image: url('../images/icon.png');
	background-size:contain;
	background-repeat:no-repeat;
}
